@import "../../variables";

.file-row-container {


  .prev-btn {
    font-size: 20px;
    padding-left: 10px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;

    .back-icon {
      width: 20px;
    }
  }

  cursor: pointer;

  &:hover, &.selected {
    background-color: $button-hover-bg-color;
  }


  td {
    padding-left: 5px;
  }


  .file-name-td {
    display: flex;
    align-items: center;

    .file-icon {
      width: 15px;
      margin-right: 5px;
    }
  }
}