$text-color : #e8e8e8;
$text-color2 : #818181;
$background-panel-color: #2f2f2f;
$border-color: #505050;
$app-background-color: #343434;
$button-hover-bg-color: #969696;
$input-bg-color: #595353;
$input-bg-color2: #413838;